<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Stencil Component Starter</title>

    <script type="module" src="/build/components.esm.js"></script>
    <script nomodule src="/build/components.js"></script>
  </head>
  <body>
    <my-component name="Antakathena" first="This is a test." age=42 last="I study Stencil JS"></my-component>
    <my-modal my-title="modale graphiques"></my-modal>
    <my-table my-title="titre du tableau"></my-table>
  </body>
</html>
